src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
xmlns:db="http://www.mulesoft.org/schema/mule/db" 
xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1" 
xmlns:xsi="http://www.w3.org/2001/xmlschema-instance"

xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	
	<http:listener-config name="HTTPListener8081" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	
	<db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />
	
	<spring:beans>
		<spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database" />
	</spring:beans>
	
	<flow name="sayHello">
		<http:listener config-ref="HTTPListener8081" path="/hello" allowedMethods="GET" doc:name="HTTP" />
		<set-payload value="#['Hello Maven']" doc:name="Set Payload" />
	</flow>
	
	<flow name="retreiveFlights">
		<http:listener config-ref="HTTPListener8081" path="/flights" allowedMethods="GET" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[Select * from FLIGHTS]]></db:parameterized-query>
		</db:select>
		<object-to-string-transformer doc:name="Object to String" />
	</flow>

</mule>
